* {
  @include box-sizing(border-box);
  &:before, &:after {
    @include box-sizing(border-box);
  }
}
html, body {
  height: 100%;
}
body {
  @include align-items(center);
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
}
#animationSpace {
  height: $animationSpaceSizeMobile;
  width: $animationSpaceSizeMobile;
  position: relative;
}
@media (min-width: $haBreakPoint) {
  #animationSpace {
    height: $animationSpaceSizeDesktop;
    width: $animationSpaceSizeDesktop;
  }
}