body {
  background-attachment: fixed;
  @include background-image($haBackground);

  // Scan lines
  &:before {
    @include background-image(repeating-linear-gradient(top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.25) 1px, rgba(0, 0, 0, 0.25) 2px));
    content: '';
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
  }
}