@import url('https://fonts.googleapis.com/css?family=Saira:500');
body {
  font-family: 'Saira', sans-serif;
  text-align: center;
  text-transform: uppercase;
}
main button {
  font-family: 'Saira', sans-serif;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}